
	\subsection{Analogie continue}

L'énergie du modèle SOS est directement dictée par $E = \sigma \mathcal{L}$, où $\sigma$ est la tension superficielle de notre interface et $\mathcal{L}$ la longueur totale de notre interface. Cette longueur correspond à la distance parcourue par un marcheur brownien le long de l'interface dans des conditions en $x$ périodiques. D'un point de vue continue, la distance effectuée pour de petits déplacements est $d\mathcal(L) = \sqrt{1+\frac{dh^2}{dx^2}} \simeq h'^2 $.
L'Hamiltonien discret correspondant devient gaussien
\begin{align}
    H = J \sum_i (h_i-h_{i+1})^2
\end{align}
tandis qu'une version continue du problème est 
\begin{align}
	H = \frac{\sigma}{2} \int_0^L h'^2(x) dx - \int_0^L |h(x)|dx
\end{align}
Cet hamiltonien gaussien est très similaire à celui que l'on peut retrouver pour les ondes capillaires\cite{} et facilite grandement les calculs par des méthodes continues. 
Maintenant que l'interface est localisée, quelles sont ses propriétés statistiques à l'équilibre ? 
Pour une interface avec des conditions aux bords fixe $h(0) = h$ et $h(L) = h'$, la fonction de partition est donnée par
\begin{align}
	\mZ(h,h',L) = \int_{h(0)=h} d[h] \delta(h(L)-h')e^{-\frac{\sigma}{2} \int_0^L h'^2(x) dx - \int_0^L |h(x)|dx}
\end{align}
Nous pouvons assimiler cette trajectoire dans l'espace comme une trajectoire temporelle d'un marcheur brownien commençant à $h(0)$ et finissant à $h(L)$. La fonction de partition $\mZ$ obéit à l'équation de Schrödinger temporelle
\begin{align}
	\frac{\partial \mZ}{\partial L} = \frac{1}{2 \beta \sigma} \frac{\partial^2 \mZ}{\partial h^2}  - B \beta |h| \mZ
\end{align}
avec la condition initiale $\mZ(h,h',0) = \delta(h-h')$. 
En décomposant la fonction de partition dans la base des solutions stationnaires $\phi_E$ correspondant aux énergies propres $E$ 
\begin{align}
	Z(h,h',L) = \sum_E e^{-EL}\phi_E(h)\phi_E(h')
	\label{schro_temp}
\end{align}
À nouveau, dans la limite thermodynamique, seul l'état fondamental $E_0$ contribue à la distribution des hauteurs $p(h) = \phi_{E_0}^2(h)$.
Chaque fonction propre obéit alors à l'équation de Schrödinger 
\begin{align}
	\epsilon \phi_\epsilon = - \frac{1}{2} \frac{\partial^2 \phi_\epsilon}{\partial h^2} + \lambda |h| \phi_\epsilon
\end{align}
où l'équation a été admiensionalisée par $\epsilon = E\beta\sigma$ et $\lambda=\beta^2 \sigma B$.
Les solutions sont données par les fonctions d'ondes paires
\begin{align}
	\phi_\epsilon (h) = Ai \left( (2\lambda)^\frac{1}{3}(|h|-\frac{\epsilon}{\lambda} \right)
\end{align}
où $Ai(x)$ est la fonction de Airy. Les états d'énergies disponibles sont quantifiés par $\phi'_\epsilon(0) = 0$, ce qui nous donne $\epsilon_k = 2^{-\frac{1}{3}} \lambda^\frac{2}{3}\alpha_k$ où $-\alpha_k$ est le zéro de la dérivée de la fonction d'Airy. L'état fondamental est donné par le plus petit zéro de la fonction $\alpha_0 = 1.087..$ - où $\alpha_n$ est le n-ième zéro de la dérivée de la fonction - et a une énergie de 
\begin{align}
	E_0 = 2^{-\frac{1}{3}} \alpha_0 \beta^\frac{1}{3}\sigma^{-\frac{1}{3}}B^\frac{2}{3}
\end{align}
L'état fondamental s'écrit alors
\begin{align}
	\phi_0(h) = \frac{ Ai ( (2\lambda)^\frac{1}{3} |h|-\alpha_0 )}{ \sqrt{2 \int_0^\infty dh Ai^2 ( (2\lambda)^\frac{1}{3} |h|-\alpha_0 ) }}
\end{align}
où le terme d'en bas est une constante de normalisation utilisant la symétrie $p(h)=p(-h)$.  
On peut calculer les états excités suivants suivant leur parité, les états pairs s'écrivant
\begin{align}
	\phi_{2n}(h) = \frac{ Ai ( (2\lambda)^\frac{1}{3} |h|-\alpha_{2n} )}{ \sqrt{2 \int_0^\infty dh Ai^2 ( (2\lambda)^\frac{1}{3} |h|-\alpha_{2n} ) }}
\end{align}
et les états impairs
\begin{align}
	\phi_{2n+1}(h) = \frac{ \sgn(h) Ai ( (2\lambda)^\frac{1}{3} |h|-\alpha_{2n+1} )}{ \sqrt{2 \int_0^\infty dh Ai^2 ( (2\lambda)^\frac{1}{3} |h|-\alpha_{2n+1} ) }}
\end{align}
d'énergie $E_{n} = E_0 \frac{\alpha_{n}}{\alpha_0}$. 
D'après l'éq \ref{schro_temp}, l'écart d'énergie entre deux états nous donne l'inverse de la longueur de corrélation parallèle à l'interface. L'ordre de grandeur de $\alpha_{n+1}-\alpha_n$ étant le même que $\alpha_0$, on trouve que 
\begin{align}
	\xi_\parallel = \frac{1}{\Delta E} = \frac{1}{E_0} =  2^\frac{1}{3}  \beta^{-\frac{1}{3}} \sigma^{\frac{1}{3}}B^{-\frac{2}{3}}
\end{align}

On peut adimensionner la distribution des hauteurs par $z = (2\lambda)^\frac{1}{3}|h|$, et on peut définir une longueur charactéristique de l'interface 
\begin{align}
	\xi_\perp = \frac{1}{(2\beta^2 \sigma B)^\frac{1}{3}}
\end{align}

La distribution des hauteurs dans un système infini devient 
\begin{align}
	p(h) = \phi_0^2(h) = \frac{ Ai^2 ( |z|-\alpha_0 )}{ 2 \int_0^\infty dh Ai^2 ( |z|-\alpha_0 ) }
\end{align}

\begin{figure}
	\includegraphics[width=\linewidth]{sosequi-laser/distrib.pdf}
	\caption{Comparaison entre la distribution de Airy $p(h)$ et une distribution gaussienne d'écart-type $\sigma=1$. }
\end{figure}



On retrouve souvent la mystérieuse distribution de Airy dans la distribution des hauteurs de l'interface dans des systèmes fortement corrélés comme celui-ci \cite{majumdar}. Cette distribution est peut être approximée par une gaussienne au voisinnage de $0$, ce n'est que dans les fluctuations extrêmes que l'on remarque la différence. 
\textsl{•}